html {
  height: 100%;
  z-index: 1;
}

body {
	background: #222;
	font-family: 'Roboto Mono';
	margin: 0;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 100%;
  display: flex;
 	flex-direction: column;
}

h1, h2 {
	text-align: center;
}

ul {
	font-size: 20px;
	width: 80%;
}

p {
	margin-bottom: 15px;
	margin-left: 35px;
	margin-right: 35px;
	font-size: 15pt;
}

a {
	text-decoration:none;
	font-size:20px;
  color: #c66;
}

a:hover {
	text-decoration:underline;
	color: #f00;
}

.topbar {
	width: 100%;
	height: 45px;
	margin-bottom: 50px;
	box-shadow: 0px 4px 5px 0px #181820;
	position: fixed;
	background: #261d3a;
	z-index: 5;
	border: none;
}

.golog {
	display: block;
	margin: auto;
	margin-top: 3px;
	height: 40px;
	width: 139px;
	clear: none;
	pointer-events: none;
}

#main-body {
	padding-top: 60px;
}

#content {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	width: 70%;
	margin-bottom: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ddd;
	background: #302e2e;
	border-radius: 5px;
}

#p1, #p2 {
	text-indent: 4em;
	text-align: left;
}

.center {
	text-align: center;
}

.btnhref {
	font-size: 30px;
	cursor: pointer;
	color: #f9f9f9;
	padding-left: 10px;"
}

.btnhref:hover {
	text-decoration: none;
	color: #b0b0ff;
}

.footer {
	margin-top: auto;
	width: 100%;
	background: #261d3a;
	color: #fff;
	text-align: center;
	box-shadow:inset 0 20px 5px -16px #111122;
	bottom: 0;
}

.row {
	margin-bottom: 30px;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

img.footer_image {
	width: 50px;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}