#content_header1 {
	float: left;
	text-align: left;
	word-wrap: normal;
	word-break: normal;
	max-width: 100%;
}

#content_header2 {
	margin-top: 20px;
	text-align: left;
	word-wrap: break-word;
	word-break: normal;
	white-space: pre-line;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  30% {
  	opacity: 1;
  }
  70% {
  	opacity: 1;
  }
  100% {
  	opacity: 0;
  }
}

.row #content_header2::after {
	content: "_";
	width: 5px;
	height: 20px;
	color: #ffdd00;
	display: inline;
	animation: cursor-blink 1.2s steps(100) infinite;
}

.wrongChar {
	color: #f00;
}